<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054686718117-ff5fjro2lebbtb61phmt76fcjft6ncn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054686718117-ff5fjro2lebbtb61phmt76fcjft6ncn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054686718117-anc1a33p1s41kqtu9du8l6jscfufk3l8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAuaaSK61LROrmTxnfNl_DPqLt-VijvOI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054686718117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodnine</string>
	<key>PROJECT_ID</key>
	<string>foodnine-7fc08</string>
	<key>STORAGE_BUCKET</key>
	<string>foodnine-7fc08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054686718117:ios:ff6c45c6aba187e595454c</string>
</dict>
</plist>